/* 
  here is where you will write your css styles for App.js
  ex.
  .classname-here {
    property-name: property-value;
    font-size: 20px;
  }
*/

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}